.utilsheader-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.copy-code {
    font-size: 8px;
    margin: -16px 0 0 -12px;
    color: #8b8b8b;
}