/* Ensure the app occupies the full viewport */
html,
body,
#root,
.yt-app {

}

.yt-app {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: auto 1fr 1fr 1fr;
}

a, p{
  margin: 0;
}

a {
  color: white;
  font-weight: bold;
}

p {
  font-size: smaller;
  font-weight: normal;
}
